body {
    font-family: Arial, sans-serif;
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 1024px;
    height: 768px;
}

body::before {
    content: "";
    background: url('./img/ntfgh_lobby.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
    opacity: 0.5; /* Adjust transparency here */
    z-index: -5; /* Place it behind the content */
}

.header {
    position: fixed; /* Keeps the header fixed */
    top: 0;
    left: 0;
    padding: 16px;
    width: 100%; /* Full width of the viewport */
    z-index: 1000; /* Ensure it appears above other elements */
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: normal;
}

.logo-container {
    width: 50%;
}

.logo-container img {
    width: 300px;
    height: auto;
    pointer-events: none; 
}

.side-content {
    width: 54%;
    height: 83.3%;
    position: absolute;
    left: 44.11%;
    top: 13.2%;
}

.side-bg {
    background: #e8e8e8;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 1px;
    top: -1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.action-button {
    width: 180px;
    height: 40px;
    position: relative;

    display: flex;
    align-items: center;   /* vertical center */
    justify-content: space-evenly;
    background-color: transparent; /* optional, since we use bg inside */
    border: none;
}

.action-button .button-bg {
    background: #0C4C9A;
}

.action-button-selected {
    width: 180px;
    height: 40px;
    position: relative;

    display: flex;
    align-items: center;   /* vertical center */
    justify-content: space-evenly;
    background-color: transparent; /* optional, since we use bg inside */
    border: none;
}

.action-button-selected .button-bg {
    background: #34CB46;
}

.action-button.correct .button-bg {
    background: #34CB46;
}

.action-button.wrong .button-bg {
    background: #cb3434;
}

.action-button-disabled {
    width: 180px;
    height: 40px;
    position: relative;

    display: flex;
    align-items: center;   /* vertical center */
    justify-content: space-evenly;
    background-color: transparent; /* optional, since we use bg inside */
    border: none;
    pointer-events: none;
}

.action-button-disabled .button-bg {
    background: #868686;
}

.main-button {
    width: 388px;
    height: 90px;
    left: 17%;
}

.main-button .button-icon{
    width: 50px;
    height: 50px;
}

.button-bg {
    position: absolute;
    inset: 0; /* same as top: 0; left: 0; right: 0; bottom: 0; */
    border-radius: 20px;
    width: inherit;
    height: inherit;
    z-index: 0;
}
  
.button-icon {
    color: #ffffff;
    width: 30px;
    height: 30px;
    z-index: 3;
}

.button-text {
    color: #ffffff;
    width: fit-content;
    min-width: 120px;
    height: 30px;
    z-index: 3;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

#help-button .button-bg{
    background-color: #D26220;
}

.overlay-progress{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    height: 100%;
    width: 0%;
    background-color: #27A035; /* or any color you want */
    z-index: 2;
    /* transition: width 5s linear; */
}

.subpage{
    z-index: 1;
    position: absolute;
    /* width:inherit;
    height: inherit; */
}

.orientation-guide{
    color: #484848;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 28px;
    font-weight: 400;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding: 15px;
    /* top: 20px; */
}

#step-title {
    color: #484848;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#content-block {
    height: 310px;
    max-height: 50%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0 30px;
    box-sizing: border-box;

    position: relative;
    display: block; /* Use block instead of flex to prevent weird stretch unless you really need flex */

    color: #484848;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 22px;
    font-weight: 400;
}

#content-block video {
    width: 100%;
    height: auto;
    display: block;
    max-height: 300px;
}

#content-block img, #content-block video {
    display: block;
    margin: 20px auto;
    max-height: 300px;
}

.video-wrapper {
    position: relative;
    height: 100%;
    max-height: 300px;
}

.countdown-text {
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    position: absolute;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.action-bar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#bottom-action-bar {
    top: 580px;
    width: 100%;
    height: 12.5%;
    background-color: rgba(206, 206, 206, 1);
    padding-left: 2.5px;
    border-radius: 10px;
}

.top-menu-bar {
    width: 54.3%;
    height: 9.25%;
    position: absolute;
    left: 44.11%;
    top: 1.8%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#setup-title{
    color: #484848;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0px;
    height: fit-content;
    align-items: center;
    width: 100%;
}

#main-page{
    display: grid;
    gap: 20px;
    justify-self: center;
    align-content: center;
}

#AIPlayerWrapper {
    position: fixed;
    height: 1742px;
    width: 694px;
    top: 15%;
    left: -12%;
    /* pointer-events: none;  */
    z-index: 6;
}